
        * {
            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;
        }

        img {
            vertical-align: top;
        }

        .fl {
            float: left;
        }

        .fr {
            float: right;
        }

        .clearfix {
            zoom: 1;
        }

            .clearfix:after {
                display: block;
                content: '';
                clear: both;
            }

        .head {
            width: 100%;
            height: 2.5rem;
            background: #ccc;
            display: -webkit-box;
        }

            .head .back {
                position: absolute;
                left: 0.5rem;
                top: 0.5rem;
                width: 3.175rem;
                height: 1.55rem;
                text-indent: -999em;
                background: url('../img/back.png') no-repeat;
                background-size: 100%;
            }

            .head .logo {
                text-indent: -999rem;
                -webkit-box-pack: center; /*水平居中*/
                -webkit-box-align: center; /*垂直居中*/
                -webkit-box-flex: 1;
            }

                .head .logo a {
                    display: block;
                    text-decoration: none;
                    text-indent: -999em;
                    width: 3.7rem;
                    height: 1rem;
                    background: url('../img/logo.png') no-repeat;
                    background-size: 100%;
                    margin: 0.75rem auto;
                }

        .banner {
            width: 16rem;
            overflow: hidden;
        }

            .banner ul {
                display: -webkit-box;
                width: 400%;
                margin-bottom: 0.5rem;
            }

            .banner li {
                -webkit-box-flex: 1;
                transform: translate3d(0,0,0);
            }

                .banner li img {
                    width: 16rem;
                    height: 6.7rem;
                }

            .banner .bannerloot {
                width: 100%;
            }

                .banner .bannerloot a {
                    display: block;
                    width: 2.25rem;
                    height: 0.25rem;
                    background: url(../img/bannerloot.png) no-repeat;
                    background-size: 100%;
                    margin: 0 auto;
                }


        /*内容部分*/
        .main {
            width: 100%;
            padding: 0 0.5rem;
            -webkit-box-sizing: border-box;
        }

            .main .nav {
                padding-bottom: 1.625rem;
            }

                .main .nav ul {
                    overflow: hidden;
                    width: 100%;
                }

                    .main .nav ul li {
                        width: 25%;
                        float: left;
                        padding-top: 1rem;
                        text-align: center;
                    }

                        .main .nav ul li a {
                            display: block;
                            width: 2rem;
                            height: 2rem;
                            margin: 0 auto;
                        }

                            .main .nav ul li a img {
                                width: 100%;
                                height: 100%;
                            }

                        .main .nav ul li span {
                            padding-top: 0.5rem;
                            font-size: 0.5rem;
                            color:#999;
                        }


        /*热卖top10*/
        .hotShop {
            width: 100%;
        }

            .hotShop .hotTit {
                width: 100%;
                font-size: 0.6rem;
                border-left: 4px solid #d51938;
                padding-left: 0.625rem;
                margin-bottom: 0.5rem;
                -webkit-box-sizing: border-box;
            }

            .hotShop .hotList {
                width: 100%;
                border-top: 4px solid #dcdcdc;
                padding-top: 0.75rem;
            }

                .hotShop .hotList .hotItem {
                    height: 3rem;
                    background: #f4f4f4;
                    margin-bottom: 0.5rem;
                }

                    .hotShop .hotList .hotItem .topNum {
                        width: 1.5rem;
                        height: 100%;
                    }

                    .hotShop .hotList .hotItem .topPic {
                        width: 4.75rem;
                        height: 100%;
                    }

                    .hotShop .hotList .hotItem .topPrice {
                        color: #9f9f9f;
                        font-size: 0.55rem;
                        padding: 0.75rem 0 0 1.25rem;
                    }

                        .hotShop .hotList .hotItem .topPrice p span {
                            font-size: 0.5rem;
                        }

                            .hotShop .hotList .hotItem .topPrice p span.imp {
                                color: #c7223d;
                            }

                    .hotShop .hotList .hotItem .tPrice {
                        height: 100%;
                        padding-right: 0.5rem;
                    }

                        .hotShop .hotList .hotItem .tPrice span.go {
                            display: block;
                            width: 0.235rem;
                            height: 100%;
                            background: url('../img/go.png') no-repeat center center;
                            background-size: 100%;
                        }

                        .hotShop .hotList .hotItem .tPrice p {
                            height: 100%;
                            color: #c7223d;
                            font-weight: bold;
                            font-size: 0.65rem;
                            text-align: center;
                            line-height: 3rem;
                            padding-right: 0.5rem;
                        }



        .more {
            width: 100%;
            height: 2rem;
            text-align: center;
            line-height: 2rem;
            background: #f5f5f5;
            margin-bottom: 0.75rem;
        }

            .more a {
                text-decoration: none;
                color: #666;
                font-size: 0.65rem;
            }


        /*商品团*/
        .tuan {
            width: 100%;
            height: 8.8rem;
            padding-bottom: 0.5rem;
        }

            .tuan .lPic {
                width: 3.75rem;
                height: 8.8rem;
                background-size: 100%;
            }

            .tuan .tuanTab {
                width: 11rem;
                height: 100%;
                border-collapse: collapse;
                -webkit-box-sizing: border-box;
                text-align: center;
            }

                .tuan .tuanTab tr td {
                    border: 0.025rem solid #eee;
                    font-size: 0.75rem;
                    color: #999;
                }

                    .tuan .tuanTab tr td.red {
                        color: #c7223d;
                    }



        .app {
            width: 100%;
            display: -webkit-box;
            height: 4rem;
            padding-bottom: 0.5rem;
        }

            .app a {
                display: block;
                -webkit-box-flex: 1;
                height: 100%;
                border: 0.025rem solid #ccc;
                -webkit-box-sizing: border-box;
            }

                .app a img {
                    width: 100%;
                    height: 100%;
                }

        /*底部*/
        .foot {
            width: 100%;
        }

        .btoomTool {
            width: 100%;
            height: 2.2rem;
            background: #f8f8f8;
            padding-left: 0.75rem;
            line-height: 2.2rem;
        }

            .btoomTool a {
                display: block;
                font-size: 0.65rem;
                padding-right: 1.175rem;
                color: #000;
                text-decoration: none;
            }

                .btoomTool a h2 {
                    font-weight: normal;
                }

                .btoomTool a:hover {
                    color: blue;
                }

        .bottomDiv {
            width: 100%;
            height: 8rem;
            background: #eeeeee;
            padding-top: 1rem;
            text-align: center;
            -webkit-box-sizing: border-box;
        }

            .bottomDiv .banben {
                font-size: 0.65rem;
                width: 100%;
                margin-bottom: 0.8rem;
            }

            .bottomDiv a {
                text-align: center;
                text-decoration: none;
                margin-right: 0.65rem;
                color: #000;
            }

                .bottomDiv a:hover {
                    color: blue;
                }

            .bottomDiv .shengMing {
                color:#999;
                text-align: center;
                font-size: 0.45rem;
            }
